table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 1200px;
  }
  .tableSerialNumberHeading{
    /* background-color: red; */
    width: 11px;
  }
  .tableSerialNumberData{
    /* background-color: aqua; */
    padding: 8px;
    width: 27px;
  }
  .tableNameData{
    padding: 8px;
    width: 107px;
  }
  .tableHeadingTh{
    width: 100%;
    /* background-color: aqua; */
  }
  .addButton{
    cursor: pointer;
  }
  .tableNameHeading{

  }
  .tableUsernameHeading{

  }
  .tableCompanyHeading{

  }
  .tableSalaryHeading{

  }
  .tableMonthHeading{

  }
  .tableEmailHeading{

  }
  .tableStatusHeading{

  }
  .tableActiveStaffHeading{
    
   }
  th, td {
    border: 1px solid #dddddd;
    /* text-align: center; */
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .tableContainer{
    overflow-x: scroll;
    overflow-y: auto;
    padding-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: rgb(107, 95, 95); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #b3bdaf , #bdb9af);
    /* background-color: red; */
  }
  .tableSubContainer{
    /* width: 80vw;
    height: 80vw; */
    background-color: white;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  .dashboardContainer{
    height: 100vh;
    width: 100%;
  }